* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  width: 100%;
  height: 100%; }

body {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #333; }

.container {
  width: 800px;
  max-width: 800px;
  background-color: white;
  margin-bottom: 100px;
  padding: 100px 50px 50px; }
  @media (max-width: 1500px) {
    .container {
      width: 100%; } }
  @media (max-width: 768px) {
    .container {
      padding: 40px 10px 20px; } }

h1 {
  margin: 50px 0;
  color: #fff; }

.card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 300px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none; }
  .card .img {
    position: relative; }
  .card .container-img {
    text-align: center;
    margin-bottom: 25px;
    position: relative; }
    .card .container-img::before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      z-index: 999; }
  .card h3 {
    text-align: center;
    margin-bottom: 15px; }
  .card h4 {
    text-align: center;
    margin-bottom: 15px; }

.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 180px;
  max-height: 180px;
  min-width: 100%;
  position: relative; }
  .logo::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 999; }
  .logo img {
    max-width: 180px;
    max-height: 180px; }
